[2017-05-11 12:40] YozenPL opened #1 "Error during creation of NTAG using non NTAG215"
Hello,

Please create a restriction in application for other tags - different than NTAG215.
During creation of NTAG if you use "non NTAG215" tag, application will crash.

ERROR:
Name of parameter: length
   w System.String.Substring(Int32 startIndex, Int32 length)
   w AmiiBomb.Amiibo_Class.Calculate_Long_UID(String Short_UID)
   w AmiiBomb.Flash_Form.<button2_Click>d__9.MoveNext()

[2017-05-11 19:43] standardbus opened #2 "Enable highest power gain on the MFRC522 module"
This has to be changed on the MFRC522 library (tested on my NFC module and working for Amiibomb):

Edit MFRC522.cpp Arduino library and find

PCD_AntennaOn();						// Enable the antenna driver pins TX1 and TX2 (they were disabled by the reset)

before the line PCD_AntennaOn(); add this line

PCD_WriteRegister(RFCfgReg, (0x07<<4)); // Set Rx Gain to max

...then save MFRC522.cpp and recompile the A

[2017-05-11 19:46] AcK77 commented on #2
Big thanks about this feature! I'll try to update the code of AmiiBombuino soon ;) 👍

[2017-05-11 19:48] AcK77 commented on #1
Hi,
Nice idea here, in my test I just use NTAG215 but in fact if anyone doesn't know what's kind of tag is, it's great to check it! I'll try to fix that soon!

[2017-05-11 22:53] #2 closed

[2017-05-16 09:43] YozenPL opened #3 "Keyboard shortcuts"
Could you please implement a keyboard shortcuts for dumping and creating TAGs?
Like:
CTRL + D = Dump
CTRL + C = Create NTAG (from selected dump)

[2017-05-16 09:43] YozenPL commented on #3
Wrong tab :)

[2017-05-16 09:45] YozenPL commented on #3
I thought I have to put it in "Pull request" :D

[2017-05-16 09:56] AcK77 commented on #3
Good idea ;)! I add this two shortcuts in the next release ;)!

Oh and no problems about the mistake ^^ "issues" are the right place for enhancement!

[2017-05-17 21:00] AcK77 commented on #3
It's added :)

[2017-05-17 21:00] #3 closed

[2017-05-17 23:23] urherenow commented on #3
CTRL+C is a universallyBAD idea. Everyone, including my 70+yo mother uses CTRL+C to copy hilighted text. Using this action to initiate a write? Just, no. Suppose someone has an actual amiibo sitting on their reader when doing this because they just made a personal dump...

[2017-05-17 23:25] urherenow commented on #3
Might I suggest CTRL+W instead, meaning "write"?

[2017-05-18 00:32] AcK77 commented on #3
Hi, don't worry ^^, I used CTRL+D for Dump and CTRL+N for create NTAG, I know for what's CTRL+C is used lool!

[2017-05-19 15:23] urherenow opened #4 "build issue on VS studio express 2013"
not sure why I have that particular version of VS installed... probably for a class. Anyway, I don't know how to get around the error:

The type or namespace name 'RJCP' could not be found (are you missing a using directive or an assembly reference?)

and

The type or namespace name 'SerialPortStream' could not be found <with the same as above added in  () >

[2017-05-19 16:05] urherenow commented on #4
Nevermind. Figured it out. Had to update a bunch of stuff both VS and using Nuget...

[2017-05-19 16:05] #4 closed

[2017-05-19 18:24] AcK77 commented on #4
Yes, it's because you have to install the dependencies through the Nuget Packages ;)!
Hope you compile it with success!

[2017-05-20 00:30] Muchieman opened #5 "Amiibo Keys"
I got some amiibo keys (.bin files) and when I try to put them into amiibomb I get Wrong Amiibo Keys File! Would you select again? I have no idea why this is happening and I can't get a different result.

[2017-05-20 03:07] urherenow commented on #5
Github is not a support forum. This space is for issues/enhancements in the code.

There aren't key "files". There is only 1 key file. I know what your problem is, but I'm unable to tell you without sounding like a jerk...

[2017-05-20 03:20] Muchieman commented on #5
ok I got the "key file" and it still says that. I'm not on here for support i'm telling you it doesn't work

[2017-05-20 03:37] urherenow commented on #5
It does work. Post on gbatemp and you may get the help you need.

[2017-05-21 07:33] AcK77 commented on #5
@urherenow:
This Space it's for any kind of problems with AmiiBomb, a problem will be come to an issues in the code so there is no problems with that ;)!

@Muchieman:
But instead of what I said at the way up, you have a wrong Keys file. As I explain you on GBATemp, follow the instructions of AmiiBomb when you don't have any Keys file and all will be good.
Anyone can send you Keys file if that what

[2017-05-21 07:33] #5 closed

[2017-05-28 13:18] AcK77 commented on #1
Fixed in AmiiBomb v0.3 Alpha. Thanks.

[2017-05-28 13:18] #1 closed

[2017-05-29 05:45] Athius opened #6 "AppData Editor and Wolf Link"
Hi,

I just try the new AppData Editor on Wolf Link Amiibo dump but when I create the NTAG and try it on Zelda BTW, nothing appends (no more hearts). Is it a normal?

Thanks for your great job!

[2017-05-29 11:27] jokkovitch commented on #6
What do you mean by "No more hearts" ?
Did you summon the wolf ?

[2017-05-29 12:31] Athius commented on #6
I summon the wolf but he still has 3 hearts instead of 20 (the value I set in AppData Editor). However, when I dump the NTAG previously created and I see 20 hearts in AppData Editor.

[2017-05-29 19:32] AcK77 commented on #6
Did you set up the level of the Wolf at the higher? It's strange because I try the editor on many Wolf Dump and summon them in Zelda BTW and all works... The number of Wolf Hearth depend to the Level you achieve in Twilight Princess so you have to maxed out it too!

[2017-05-29 23:14] cspencer49519 opened #7 "When saving retail key data from clipboard, no file is created"
I already made you aware of this on gba, but wanted to open a formal issue. When copying the needed key data to the clipboard you are presented with a dialog box in amiboomb-uino that asks you if you want to save this data to a file, but, when you attempt to save the data, it is not saved. The dialog box just continues to popup.

[2017-05-30 05:35] Athius commented on #6
Yeah, I set up the level of the Wolf to level 40. Maybe I'm not far enough in BTW?

[2017-05-30 08:16] jokkovitch commented on #6
Did you flash it to a new ntag ? or did you try to flash it again to the same one ?

[2017-05-30 08:18] Athius commented on #6
On a new tag. I tried to the same one but of course, an error occured (the ntag is locked).

[2017-05-31 14:42] AcK77 commented on #6
Can you provide me your NTAG dump by mail? Before and after the edit?
Maybe i forgot something, but to know if it's true, I need different dump... All dump I have works after edit them...

[2017-05-31 16:57] PeggerWed opened #8 "Not all NFC215 tags get recognized by Amiibomb"
I have bought a few new NTAG215 tags, same as the previous ones but not the same store
Amiibomb doesn't recognize the tags, so i tested them on my Android phone that has Tagmo installed (Samsung phone) Tagmo recognizes the NFC NTag215 and writes the amiibo bin perfectly, my N3DS does recognize the tag, so the NTAG215 cards do work perfectly fine.

I checked the info with NFC taginfo from NXP and t

[2017-06-01 21:52] kauden commented on #8
Hi,
I have the same problem.
+1

[2017-06-02 08:47] AcK77 commented on #8
Huuum, so if I understand well AmiiBomb say "Waiting for NTAG..." and nothing change? (That's what you said on GBATemp ^^).
Did you use the version of AmiiBombuino inside v0.2 or v0.3? Your NTAG are cards or stickers?
It's really strange ^^! But let we see how we can fix that!

[2017-06-02 08:48] AcK77 commented on #7
Thanks for the report, I'm gonna see what's happen here ;)!

[2017-06-02 10:12] kauden commented on #8
ERROR: Your Tag it's probably not a NTAG215!
AmiiBombuino = v0.3
NTAG = cards (https://fr.aliexpress.com/item/Free-Shipping-100pcs-Lot-NTAG215-NFC-Cards-NFC-Forum-Type-2-Tag-ISO-IEC-14443-A/32804767997.html?spm=2114.13010608.0.0.fDqE1v)

[2017-06-02 10:14] AcK77 commented on #8
Can you try to flash the AmiiBombuino inside the v0.2 and tell me if you have anything different?

[2017-06-02 17:20] kauden commented on #8
When I use v0.2, I have this exception:

[code]

[2017-06-02 17:42] AcK77 commented on #8
Ok so, the problem is when I calculate Long UID based on the short UID readed from the tag...
If anyone can send me the UID of NTAG who's give this error (or nothing) it will be great!
You can use NXP

[2017-06-02 17:44] AcK77 commented on #8
* TagInfo App for Android.
Or you can use DumpInfo (https://github.com/miguelbalboa/rfid/blob/master/examples/DumpInfo/DumpInfo.ino) with the Arduino :)!
Thanks

[2017-06-02 20:01] AcK77 commented on #8
Ok so, the problem is when I calculate Long UID based on the short UID readed from the tag...
If someone can send me the UID of NTAG who's give this error (or nothing) it will be great!
You can use NXP TagInfo App for Android or you can use DumpInfo (https://github.com/miguelbalboa/rfid/blob/master/examples/DumpInfo/DumpInfo.ino) with the Arduino :)!
Thanks

[2017-06-03 21:49] kauden commented on #8
I do not have android phone.
I tested dumpinfo but I do not see where I can find the UID on OUTPUT

[code]

Do you want DumpInfo.ino.hex dump ?

Thanks

[2017-06-03 21:56] AcK77 commented on #8
You have to run the Serial Windows inside Arduino IDE, and setting it at 9600 baud to get the informations, after that, you have to scan a NTAG and the informations appear ;)!
What's you copy/paste here it's just the Arduino IDE logs, nothing useful here ^^! It's not too difficult to found how you have to do on google to compile an INO file and use the Serial windows ;)!

[2017-06-04 07:29] kauden commented on #8
Output:

[code]

[2017-06-04 17:44] peacepenguin commented on #6
I don't think there's a bug in the appdata editor, I believe there is just a situation where the appdata editor "can't" work based on the state of the dump being modified:

I think the problem here is that you used a "blank" wolf link BIN to flash initially. Using the AppData editor is technically working fine, but there isn't already a "complete" AppData from an actual Wii U Twilight Princess gam

[2017-06-06 14:42] vargRSBZ opened #9 "Method Not Found"
Hello

with the new version, i've got an issue when i launch it or when i click on a menu:

_System.MissingMethodException: Méthode introuvable : '!!0[] System.Array.Empty()'.
   à AmiiBomb.Main_Form.AskBinFolder()
   à AmiiBomb.Main_Form.Main_Form_Shown(Object sender, EventArgs e)
   à System.Windows.Forms.Form.OnShown(EventArgs e)
   à System.Windows.Forms.Form.CallShownEvent()
   à System.Windo

[2017-06-06 14:46] AcK77 commented on #9
Can you try AmiiBomb with the .NET 4.6.1 installed?

https://www.microsoft.com/fr-fr/download/details.aspx?id=49981

Thanks.

[2017-06-06 18:37] vargRSBZ commented on #9
Hello AcK77,

thanks for your reply and your solution is right... I needed .NET 4.6.1.
I could be nice to clearly notice that prerequisite on your page and on GBATEMP.

Good Job !!!!

bye
Marc

[2017-06-06 18:37] #9 closed

[2017-06-06 18:40] AcK77 commented on #9
Yes I gonna make this precision in the GBATemp thread and in the wiki too ;)!
It's good to see your issue is resolved now ^^!

[2017-06-07 02:47] peacepenguin commented on #6
I don't think there's a bug in the appdata editor, I believe there is just a situation where the appdata editor "can't" work based on the state of the dump being modified:

I think the problem here is that you used a "blank" wolf link BIN to flash initially. Using the AppData editor is technically working fine, but there isn't already a "complete" AppData from an actual Wii U Twilight Princess gam

[2017-06-07 09:31] kauden commented on #8
Do you have enough information with my Arduino IDE output ?

Thanks.

[2017-06-07 17:51] peacepenguin commented on #8
That looks like most of the ntag215's I've seen. Can you post the same dumpinfo output for one of the working Ntag215's to compare the results of the UID short to long conversion for a working UID vs a non-working UID?

[2017-06-08 09:14] kauden commented on #8
Sorry but I do not have functional NTAG. I have no android for flash a NTAG215.

Maybe @PeggerWed can post us a functional NTAG ?

[2017-06-09 02:34] urherenow opened #10 "Firmware flashing error"
First off, I have no clue about the specifics of my arduino. It's obviously a clone and goes by the name EDarduino. The arduino suite did not even have drivers that would install for my unit. I had to download drivers for CH340, which properly made it a com (4) port.

The internal flasher errors out no matter which model I choose to flash. Any suggestions or does this model need it's own firmware?

[2017-06-09 05:56] PeggerWed commented on #8
My non working Empty NFC card on AmiiBomb info (**_there working fine on Tagmo Android_**)
**All information according to "NFC Taginfo by NXP" on Android phone**

**NFC Taginfo (empty card that Amiibomb does not recognize)**
IC manufacturer:
NXP Semiconductors

IC Type:
NTAG215

Memory Data:
504 bytes user memory
126 pages with 4 bytes per page

IC detailed information:
Full product name: NT2H1511

[2017-06-09 06:04] PeggerWed commented on #8
The old ntags that did work on Amiibomb have he same config, (except there already witten to) If you wish i can ship 2 of those non working on Amiibomb/working on Android Tagmo NFC cards to you.

[2017-06-09 08:25] cspencer49519 commented on #10
There are some example sketches in the MFRC522 library that will allow you to test communications between your RF module/NTAG and your arduino. Have you tried to test these example sketches to verify that everything is connected properly? Also, did you flash the firmware as someone suggested on GBA?

[2017-06-09 18:04] peacepenguin commented on #10
Check out this readme and associated fork that I've created from this repo. The readme describes my process for manually installing the Arduino IDE and making the arduino ide work with my "clone", esp32 board.

Most important was to change the pins used by amiibombuino firmware, the change for my esp32 board is also available in my forked repository.

Instructions for esp32:
https://github.com/pea

[2017-06-09 18:47] PeggerWed commented on #8
Ok, i found an old NTAG 512 from my first batch that worked on Amiibomb that was still empty:

**Amiibomb info:**
-----------------------------------------------------------------------------------
Wachten op NTAG... Gevonden!

Short UID is: 04037EAA064F81
Long UID is: 04037EF1AA064F8162

"D:\AmiboDumps\Smash 4\[SSB4] Donkey Kong.bin" is gepatched.
"D:\AmiboDumps\Smash 4\[SSB4] Donkey Kong.bin" is

[2017-06-09 19:32] AcK77 commented on #8
The problem is when I calculate the Long UID, with certains of them (who can't be write on the NTAG - Read only). I have to see to fix it, but I just don't have time, I just need many UID of NTAG who's not working with AmiiBomb, to test if the calculation will be good! Please be patient. Thanks

[2017-06-09 19:41] AcK77 commented on #10
Hi

@urherenow if you want to know if AmiiBombuino was flashed good inside your Arduino clone, just try to dump an Amiibo and you have a status at the bottom of the windows (a Red or Green dot).
I can't support all of Arduino Clone, it's too much works to do that... You can simply use XLoader if the internal flasher don't works or use the Arduino IDE and compile the AmiiBombuino source code to you

[2017-06-09 21:21] kauden commented on #8
Hi,
Waiting for more UID, would it be possible to have an option to disable NTAG verification ?
Thanks

[2017-06-10 09:06] PeggerWed commented on #8
AcK77,

Like told, i'm willing to ship a few not working NTAG cards to you, i live in Belgium and shipping to France isn't a problem

Or i can at least read 20+ Long UID's from my batch and post in here.

If i'm not wrong i take the following numbers/letters to get the Long UID:
_(Example from my previous post)_

Memory content:
[00] * **04:03:7E F1** (UID0-UID2, BCC0)
[01] * **AA:06:4F:81** (UID3

[2017-06-10 12:43] PeggerWed commented on #8
**_LongUID (Empty cards)_** _(for short UID just remove the bold stuff)_
044194**59**52AF4F80**32**
0443CC**03**52AF4F81**33**
045E7B**A9**52AF4F81**33**
04B6B0**8A**52AF4F80**32**
04ADA3**82**52AF4F80**32**

**_LongUID (Written Cards)_**
0457E1**3A**52AF4F80**32**
04A67D**57**52AF4F80**32**
04A992**B7**52AF4F80**32**
0450B5**69**52AF4F81**32**

So i noticed, all cards that don't work on Amiibomb

[2017-06-10 20:02] peacepenguin commented on #10
Yes I would love to get the esp32 integrated! I just forked for now to have an area to publicly experiment with your code until I got something actually working to offer back to the main repo!

Wireless amiibomb sounds awesome, great project to push these esp32 boards to their full potential!

I finally got VS installed to actually attempt compiling from source to really start experimenting now th

[2017-06-11 22:39] peacepenguin commented on #8
Here's how tagmo is overcoming the problem.. scan the entire "raw" or "long" uid, then trim out the checksum bytes from "slot 3" to derive the "actual" or "short" uid.

Or the checksum could be calculated (somehow) to go the other direction and generate the long uid from the short uid.

Notice how it skips "pages0_1[3]" to generate the correct "short" uid from the first two pages. the long uid the

[2017-06-12 21:50] PeggerWed commented on #8
Well, let's hope AcK77 can do something with all this info :)

Im willing to test a new Alpha release to see if the cards get working.

[2017-06-28 15:10] kauden commented on #8
Hi,
Do you have little progress on the subject ?

[2017-07-01 11:44] PeggerWed commented on #8
Would like to know also.

Any news on progress about this problem would be great :)

[2017-07-02 08:06] urherenow commented on #10
Thought I commented and closed a long time ago. I first (after this issue) flashed it with the arduino ide, and it seemed to work. I then tried to flash it using v0.2 of this app and that worked. v0.3 is (was) the problem, I think.

[2017-07-02 08:06] #10 closed

[2017-07-02 18:16] Athius commented on #6
@AcK77 Did you recieve my message? I sent it few weeks ago with the dumps

[2017-07-17 13:29] kauden commented on #8
Has the project died?

[2017-07-17 14:08] PeggerWed commented on #8
I hope not, but no response and no update :/
Makes you wonder...

[2017-07-17 15:42] peacepenguin commented on #8
Hey, project isn't dead, I'm using it successfully still. The code issue with long to short uid is documented in this thread. Take a stab at forking the code, modify your fork based on the notes here, then compile using visual studio 2017 community edition. Not super hard and you'll learn the fundamentals of software development and simultaneously be giving back to the community!

[2017-07-17 18:08] AcK77 commented on #8
@peacepinguin:
It's exactly what I think :)!

For all others who can't wait until I update AmiiBomb, Right now I don't have time to work on it! So be patient. Your NTAG works, it's just an error inside the UID calculation, I make AmiiBomb open source for get other people fix possible error or add functionality, but all I have it's people who claim there is a mistake "here" or "here"! So if you can

[2017-07-18 19:10] PeggerWed commented on #8
@AcK77
Thanks for the news update :)

I'm not mad or anything, i was just wondering :) As always, real life stuff is more important then anything else, so take your time. I hope i wasn't one of the people who claimed about mistakes here or there (except for this issue i started) but i think i provided helpfull info for it also.

@peacepenguin
Well, i can't program, i don't have the power to get it

[2017-07-21 06:40] YozenPL opened #12 "Cathegories in Dumps directory"
Could you add an option to categorise the amiibos in Dump folder? (just by creating new folder for specific series)
Like:
|-AmiBomb
   |- Dumps
       |- Splatoon
       |- Zelda

[2017-07-25 15:12] kokkie20 commented on #8
@peacepenguin can you give me a direction where to look to adjust the code? Trying to find it tough i can't seem to get trough all the files lol.
@AcK77 at first want to thank you for this project you made, realy love it and hope soon somebody will be able to help me out to fix it (At least where to look for this part to adjust) or hoping you have some day time to adjust the code (Do note; no rush

[2017-07-25 18:43] peacepenguin commented on #8
You know I'm not really sure where to find the code that handles the long uid and short uid conversions. I found the code in tagmo that seems related to this problem, and how they are stripping particular positions of the long uid to get to the short uid.  For me the bigger question is this: what is actually failing when using these problematic NTAG215's. I couldn't interpret the error log posted

[2017-07-25 18:54] peacepenguin commented on #8
Might have found a clue that may help, ack77 said: "Ok so, the problem is when I calculate Long UID based on the short UID readed from the tag..."

Where-as in Tagmo it seems they are reading the long uid from the card, then converting that to small uid.

Same as the dump-info pastes, the long uid is already there, so converting to short uid is easy, just use the tagmo technique of dropping the ch

[2017-07-25 19:19] quessith commented on #8
Hmm good questions, hopefully tomorrow (its 9:18 pm here atm) or the day after tomorrow i will have my nfc reader for the arduino so i can do some more tests then i can do now...
Then i can read out stuff and adjust codes to give me more information then i can get out of it now at the moment.
Will take a look at certain things and hope can make a solution for it :)

[2017-07-25 19:24] peacepenguin commented on #8
Ok found the area of code that will need reviewed to fix these problematic Ntag215's:
AmiiBomb-uino/AmiiBomb/Flash_Form.cs.  line 84
A variable is created with an external call, not sure where to find this external code that does the actual "GET".
string NTAG_Short_UID = Arduino.SendCommand("/GET_NTAG_UID");

Then on line 92, the long uid is calculated and stored in a variable using an external li

[2017-07-25 19:43] quessith commented on #8
Yes this will help me to the correct direction :)
Tough need to test some things first cause i modified the arduino program....
So hopefully i can get more information like i said above as soon as i have my nfc reader.... Then its a lot easier to debug certain stuff !
Thanks for the help so far :)

edit:
this part;
string NTAG_Short_UID = Arduino.SendCommand("/GET_NTAG_UID");

That sends a "comman

[2017-07-27 02:10] Zombuino opened #13 "Unhandled exception error"
Using UNO R3.  I can successfully flash the firmware for my Arduino using both 0.2 and 0.3 versions.

When i try to dump it reads the Amiibo successfully but as soon as it finishes reading it I receive an Unhandled Exception Error.  This happened on two different Windows 10 machines. See screenshot:

![amiibomb error screenshot1](https://user-images.githubusercontent.com/30484862/28651235-9560304e

[2017-07-27 02:36] Zombuino commented on #7
I have same issue on 0.2 and 0.3 versions.   Could this be related to the Unhandled Exception error I am receiving: #13 ?

[2017-07-27 05:14] kokkie20 commented on #12
If i am correct that is in version 0.3, at least for me it is
You should make some folders and sort them. For me on the top of the list view are the folders and under that is the file list
@YozenPL

[2017-07-27 05:18] kokkie20 commented on #8
Ok got my nfc reader, now need to test stuff to get the correct information that I need... So far no luck but will try other stuff to get it to work :)

[2017-07-27 07:12] kokkie20 commented on #7
As far as i could see there is no function to save the copied clipboard to file... Still working on other things to fix first ;)
@AcK77 @cspencer49519
Fixed the saving key part 👍

[2017-07-27 12:20] kokkie20 commented on #13
Question, did it save the file or not?

@Zombuino

[2017-07-27 12:27] Zombuino commented on #13
It did not save the file in the dump folder.  I click "Continue" on the error screen and nothing happens.  The Dump Amiibo window remains there but all buttons on this window are grayed out.  I can close this window but there is no file saved for the read Amiibo.  Same result with several different Amiibos.

I have not tried to write to a NTAG215 yet since I will not have some for a few days.  Wil

[2017-07-27 13:35] kokkie20 commented on #13
Ok that is weird, i just tried one with a ntag 215 amiibo card from me (Bowser) and it just dumped it fine.
I tested it also with a Mario 30th anniv Classic color and dumped fine to.
My guess is there is something wrong with probally the key file, can you send it to me?
Its my nickname and then @gmail.com behind it, will take a look

@Zombuino

[2017-07-27 14:20] kokkie20 commented on #13
*Problem should be fixed with contact trough email with @Zombuino 👍

[2017-07-27 14:21] #13 closed

[2017-07-27 14:23] Zombuino commented on #13
Issue closed.  Had to do with hex key not saving when copied from pastebin web site.  Using key file instead of trying to use pasted hex worked.

Recommend using actual key file instead of hex from web site.

[2017-07-27 14:24] kokkie20 commented on #13
i placed pull request for fix of saving hex key from pastebin website so that it does save to a file.
Happy it worked out for you now :)

[2017-07-27 16:35] AcK77 commented on #12
Yes it's already exist in last version by create a directory in windows... No need to reinvent the wheel ^^!

[2017-07-27 17:04] #7 closed

[2017-07-28 23:32] olijouve commented on #8
Hi, when i've tested amiibomb 10 days ago I had the same "Waiting for NTAG..." problem with my Tags.
Was totally new to arduino and elegy rc522, running on a windows VM so I'd suspected that it would be too much for it run as excepted and i forgave.
I've recode a flask python web ui that wraps amiitool, amiibo_tool bash and communicate with a modified write_amiibo to get bytes from serial...all of

[2017-07-29 10:54] olijouve commented on #8
I've first test my proposed solution on amiibomb it seems i can now read the content of an amiibo
 on amiibombuino Dump with the updated MFRC522 lib.
Now it can see my previously not detected Tags.

But i'm still stuck in the Create Tag action with the same "Waiting for NTAG..."

For a same Tag with the old lib my ID was:
04C7C388
2AAF4F80
and with the last updated one it is:
0493C3DC
2AAF4F80

If

[2017-07-29 11:39] olijouve commented on #8
ok it definitely works for me in amiibomb in Writing tags.
I removed the MFRC522 lib from amibombuino folder, update MFRC522 in the library manger of the official arduino studio and i flashed amiibombuino with my arduino with the arduino studio.

All my tag creation with amiibomb works like a charm now !!!

I'll also fix my raspberry app as i like the very convenient and portable way of creating a

[2017-07-29 13:14] kokkie20 commented on #8
Hmm maybe updating it can indeed fix the problems. Maybe a idea for other people to try it who had the problems?

[2017-07-30 20:10] mariogamer2 opened #16 "Add linux-like app?"
Don't knowif this has wine/mono compatibility, since Ports aren't the same in win/linux

[2017-07-30 20:34] AcK77 commented on #16
It's depend how Mono handle the Serial port... If someone is interested to do this he can... But I don't wanna take time to do this, sorry!

[2017-07-31 13:49] PeggerWed commented on #8
Wel, it would be nice if somebody would provide a compiled versio we can download and just reflash the uno r3 with it. This is for all people who are not skilled in doing such stuff (like me)

[2017-07-31 13:50] AcK77 commented on #8
I'll try to compile it, soon as possible, if anyone can't do it before!

[2017-07-31 14:22] kokkie20 commented on #8
See my latest comment for the new "firmware" for the arduino (Updated)

[2017-08-08 06:53] Daisayah commented on #8
Hi from germany. New news which one is needed?

[2017-08-08 10:19] kokkie20 commented on #8
Sorry haven't heard anything yet from @AcK77 so cant help u for now :(

[2017-08-08 10:23] AcK77 commented on #8
Hi,

You need the "with bootloader" file ;)!
To get the hex files for the others boards, you have to select the board you want inside the Arduino IDE and compile to hex again. Nothing more :)!

[2017-08-08 11:05] kokkie20 commented on #8
Ill re-upload correct ones in few hours from now :) thanks for the answer

[2017-08-08 19:14] kokkie20 commented on #8
Recompiled the firmware for the arduino's
Place it in the amiibomb folder and reupload it trough amiibomb.
Not sure if i did correct, but according to what i read what AcK77 said it should work 👍
http://www.mediafire.com/file/5q3emofm16qms3f/lib.zip
Enjoy !

@Daisayah (Just tagging for a new link for you with the updated firmware for the arduino 😄  )

[2017-08-09 05:04] Daisayah commented on #8
Thanks a lot for your work.
I flashed my arduino a few minutes before i go to work and everything works fine now.
Reading and writing tags works correct now, later i check if i can use them with my 3DS XL and Switch.

Thanks André

[2017-08-09 05:24] kokkie20 commented on #8
No problem, was easy to do :)
Hopefully it fixes it for others to!

[2017-08-10 21:20] PeggerWed commented on #8
Uploaded the uno.hex, still doesn't work with my ntags, so back to Tagmo on a borrowed nfc android phone. Thanks for the effort you all guys made to try to fix it for most of us.

Also i 1st tried to upload it through XLoader, but that gives a fail (previous ack77 hex works perfect to flash with xloader) so i used the internal writer, but i'm not sure if it does write the new hex, it says it did,

[2017-08-11 03:16] urherenow commented on #8
Has a pull request with the fixes been made? I can't connect to mediafire where I'm at. I can grab the zipped source from here though...

[2017-08-11 12:27] rlvbrussel commented on #8
Mine Ntag 215 isn't reconiced bij RC522 and arduino r3 with tagmo works great.
Amiibomb : waiting for NTAG

![screenshot_20170811-142144](https://user-images.githubusercontent.com/30928548/29212871-fbc41090-7ea0-11e7-8a71-f15e42933bad.png)

[2017-08-14 17:17] kokkie20 commented on #8
@PeggerWed
Try to download the arduino programming software (i use 1.8.3 is the latest i believe)
Then download this:
http://www.mediafire.com/file/v2q8389se80v77i/AmiiBombuino.zip
Compile it inside the arduino software and try to upload it trough the arduino software.
See if it will upload then, i just dont understand what i did wrong... Got nothing changed besides the updated files that where re

[2017-08-15 17:44] rlvbrussel commented on #8
@kokkie20
I have tried rfid-master and rfid 1.3.6.
and when i load "I thought" rfid-master with arduino software then i get the message "not a ntag512" with amiibomb... so it can read the tag but didn't recognized the card.

[2017-08-15 19:01] kokkie20 commented on #8
Hmm ill take a look at it this weekend, going to try some stuff to figure out what can be the problem. Not sure if i can find but its worth a shot

[2017-08-16 00:54] urherenow commented on #8
It was fun wiring up an arduino+RFC522 for the first time, and I know it is correct because I can do things manually with other tools (get tag ID from arduino, enter tag ID, key file, and .bin file on web page, copy resulting hex into arduino sketch, and upload). But this software hasn't worked for me at all and it's a moot point, since Thenaya works perfectly right on an N3DS! I'll still like to

[2017-08-21 15:00] rlvbrussel commented on #8
@kokkie20
I have tried PN532 schield with this guide and the tags work.
https://games.kel.mn/en/create-amiibo-clones-with-arduino-and-pn532-nfc-module/

[2017-08-21 15:20] kokkie20 commented on #8
@rlvbrussel
ill take a look at that 👍
Maybe its possible to adjust the code to work with amiibomb to....
*gotta find me first the pn532 within reasonable price, found the adafruit but to expensive for me atm to buy and test.... 😢

[2017-08-21 16:31] konstantin-kelemen commented on #8
Should be something with MFRC522 library since the problem tags are recognized fine with Adafruit PN532 library.

[2017-08-21 16:59] rlvbrussel commented on #8
@kokkie20
I hope so that amiibomb wil work with PN532. It's a great software.

@konstantin-kelemen
Mabey someone can look at it.

[2017-08-21 22:52] PeggerWed commented on #8
@kokkie20 Did everything you said, all compiled fine and uploaded fine, still nothing.

Anyway, for the time being i'm using TagMo to do all the stuff, but it would be so easier to use the adruino.

Still, thanks for all the hard work you already did on it trying to fix it for us.

Regards

[2017-08-28 10:43] kokkie20 commented on #8
Small update from my side... Found a affordable pn532 module for arduino. Now waiting for delivery and then i can try to get it working with amiibomb. Well or at least to write the tags correctly and then try to implement it into amiibomb :)
Will take some time to arrive but at least i can try stuff then :)

[2017-08-28 15:04] rlvbrussel commented on #8
@kokkie20
Nice i am looking for it that it will work with amiibomb.

[2017-09-03 19:41] xrobau commented on #8
For those people having problems, and think it may be the MFC522 library, I've [updated it here](https://github.com/xrobau/AmiiBomb-uino/commit/5033a36a58475f82bc8c348b29176f48f6048e0f) and done a pull request. You may wish to try the updated library.

[2017-09-03 23:42] PeggerWed commented on #8
Nice, now if somebody can put up a compiled version of amiibomb with this updated lib :)
Thanks in advance

[2017-09-04 05:31] urherenow commented on #8
why are you all still here? Thenaya works fine directly on the 3DS. Nothing is easier than that. https://github.com/HiddenRamblings/Thenaya

[2017-09-05 08:22] alqahtanibader commented on #8
can anyone compile it please

[2017-09-05 08:39] xrobau commented on #8
@urherenow Why are you still doing stuff on the 3DS? Nothing is easier than Windows.  (Sarcasm, in case you didn't notice). And also, you need a hacked 3DS. Which not everyone has.

@PedroBinGonzales So turns out I've found a selection of cards that don't work on the RC522. I believe it's a hardware incompatibility, as I can't even get these cards to be RECOGNISED. It's not like it partly sees it

[2017-09-05 08:41] kokkie20 commented on #8
I get soon a new batch of cards and a new rfid scanner. As soon as i got those i can work and test some stuff for thr amiibo and amiibomb.

@urherenow
Also not everyone owns a 3ds...

Works fine on my phone to those cards that are not recognized but windows is easier for me then doing it on the phone

[2017-09-05 08:59] alqahtanibader commented on #8
@xrobau well the weird thing is my cards uid is 8 characters long :/
![udid](https://user-images.githubusercontent.com/9342769/30053479-afca42a0-9231-11e7-8f8b-38223db508bc.png)

[2017-09-05 16:08] kokkie20 commented on #8
@PedroBinGonzales
Wrong cards you use man :/
mifare 1kb have only 4 bytes as a uid, while you need 7 bytes as a uid for amiibo's.
Amiibo's wont work on that card you use

[2017-09-05 21:18] PeggerWed commented on #8
@urherenow
I know you can, still i bought the hardware and like to use it, it's easier and more convinient to use then open 3ds, get sd out put amiibo bins on them write stuff, whenever a new bin come sout you have to repeat (i don't like the ftp stuff 3ds/windows pc)

Also same goes for phone, but it's easier, i can at least download them on my phone without having to get the sd out

That's why i

[2017-09-07 15:08] kokkie20 commented on #8
Hmmm i got a new batch of ntag 215 cards in from china.
They all are recognized by the program, a other batch i had don't....
Now waiting till the new rfid scanner comes in (Should be tomorrow) so i can do some testing to see if it recognizes the wrong batch or not....
*To be continued...

[2017-09-09 01:25] peacepenguin commented on #6
@Athius  Can you upload the files here into this comment system?
Maybe setup a repo on github to upload the dumps into?

[2017-09-09 01:28] peacepenguin commented on #8
Anyone having any luck compiling the Amiibomb Solution in Visual Studio 2017 Community?

"Build" -> "Rebuild Solution" results in errors related to serialportstream..

then, updating package 'serialportstream' allows it to compile...
"Project" -> "Manage NuGet Packages" ->
Then select 'serialportstream' and check the box next to it and click "update"

Then "Build" -> "Rebuild Solution" compiles su

[2017-09-09 19:04] peacepenguin commented on #8
Edit:  doesn't look like the rfid library update helps this issue.. try if you're feeling lucky...

Anyone want to try the new build with the new MFRC522 library fixes applied that "should" fix this problem?
https://github.com/peacepenguin/Amiibomb-UnofficialReleases
or direct download the updated zip file that is almost identical to the 0.3 alpha release. This zip just has new HEX files for flash

[2017-09-09 19:18] kokkie20 commented on #8
@peacepenguin
Tested it with my bad batch of cards and sadly not working.
Still no clue why it wont recognize (The MFRC522, the cards)

[2017-09-09 21:59] peacepenguin commented on #8
@kokkie20  at least we know the problem isn't solved by simply updating the rfid library. I've got a dev environment setup now, so I'll look into changing how the short - long uid conversion occurs, as was discussed earlier in this thread.

[2017-09-10 08:13] kokkie20 commented on #8
@peacepenguin ok good luck on that, i just got arrived this morning a other rfid scanner (PN532) so will be working on that part seeing how it works and such 👍

Edit:
Ok have setted it up and it seems to recognize the bad batch of ntags that wont work with the mfrc522
Can read uids, now trying to convert amiibombuino (Arduino script) to the PN532
Still a hell of a job to do, so might take a while

[2017-09-10 17:07] peacepenguin commented on #8
@kokkie20 i just read some of the old posts that indicate you had already re-compiled using the new library awhile back, and then @Daisayah mentioned that things are good now! So i think i re-did the same thing that you did a month ago.

@kokkie20, are your current problematic NTAG's having a different problem than what you helped @Daisayah awhile back with, by updating the mfrc522 library?

The i

[2017-09-10 17:59] kokkie20 commented on #8
@peacepenguin
Probally a chance yeah what you did i did some time ago to. Well always better to redo it huh :)
I have no clue to be honest, my mfrc522 just won't recognize them, not with amiibombuino nor with a other rfid scanner arduino code...
Still working on the arduino code for the PN532, it is a lot different then the mfrc522 so need to test a lot to hopefully get it working with amiibomb. N

[2017-09-12 13:55] olijouve commented on #8
Hello,

Does someone can test that release please ?
I've applied changes i'd done for my self to got it work in July.
https://github.com/olijouve/AmiiBomb-uino/releases/tag/AmiiBomb_v0.4_Alpha

If you get better with it, i'll then publish updated source code

[2017-09-12 14:01] olijouve commented on #8
Note that the hex file for Uno and Nano are identical(same md5sum).
Nano build was done with ATmega328P processor, but there is also an ATmega168 processor in the build choice list...

[2017-09-12 15:21] kokkie20 commented on #8
@olijouve it now detects the bad cards... Well detect...
It says:
Waiting for NTAG... Found!
ERROR: Your tag it's probably not a NTAG215!

Well probably a bug on my end or something cause now it won't detect any of the cards lol.

[2017-09-12 18:29] kokkie20 commented on #8
Well progress so far on the PN532;

- Can get the program to talk with it
- Can detect if card is on the scanner
- Can read the amiibo's ! (Finnaly lol)

Todo;

- Write amiibo with PN532
- Create new firmware for arduino (Clean up all the new code... its a big mess!, **maybe implement it into the amiibombuino or newer firmware, not sure yet what to choose.... Any suggestions?**)
- Adjust amiibomb

[2017-09-12 21:16] PeggerWed commented on #8
@olijouve
Still nothing for me with your version
ah well, gonna order some other round flexible ones

@kokkie20
Take all time you need :) i'll use my friends nfc phone with tagmo for the time being :)

[2017-09-13 10:57] kokkie20 commented on #8
Will take the time haha :)
I just can't seem to figure out how to send a byte array to the arduino without timing out with the current code in amiibomb
The PN532 is a .... to handle.....
Will take a small break for few days to think of something to hopefully get it working.
Got a existing code for the PN532 only need to modify it to receive other data then the maker wants to have....
Meh 😢

[2017-09-14 22:44] olijouve commented on #8
I screwed up with RST and SS pin number for Uno and Nano, my board is a Mega so different pins and i forgot to adapt pinout for other board before the builds -_-

Can you retry with this new release ?
https://github.com/olijouve/AmiiBomb-uino/releases/tag/AmiiBomb_v04_Alpha_2

[2017-09-15 09:36] rlvbrussel commented on #8
@olijouve

No luck i get the message "Wating for Ntag" thank you voor your try.

[2017-09-15 10:21] olijouve commented on #8
Arghh, don't understand why what did work for me doesn't work for others.
what arduino do you own ?
Also my RF522 board/antenna has very poor performances and I need to place my tags in a very specific position to get it work.
Have you tryied to rotate your tags over the antenna and try "every" possible positions ?

[2017-09-15 14:22] peacepenguin commented on #8
@rlvbrussel what issue are you facing? All ntags not readable nor writable? Some ntags work, others don't?

@olijouve what is unique about your build 0.4?

I think the UID issue is fixed with new mfrc522 library, so we should open up another thread to track any non-UID related problems.

[2017-09-15 15:20] olijouve commented on #8
@peacepenguin no nothing new now i just saw you released a fix last week...

[2017-09-16 06:30] rlvbrussel commented on #8
@peacepenguin
The issue what i have is Some ntags work, others don't?.
 The same problem i have on 11 aug (see the response before)

What do you mean with "I think the UID issue is fixed with new mfrc522 library, so we should open up another thread to track any non-UID related problems."

@olijouve
I have arduino R3 witch RF522 and have tried every position.

[2017-09-16 07:19] DerDom2010 commented on #8
Alpha 2 ist finally working for me on UNO. NFC Stickers are recognised. Pre made NFC Cards are beeing dumped. Only Empty NFC Cards are not recognised.

Keep up the good work

[2017-09-17 09:42] kokkie20 commented on #8
Finnaly good news on its way!!!
Got the pn532 finnaly write trough amiibomb 😀
Now to implement the rest of the stuff, still a long way to go to get it all correct, but the start is here guys!
Woop woop!!! 👍 👍 👍 👍

[2017-09-18 18:03] kokkie20 opened #18 "Needed: Translations!"
Needed translations for the following text from English to Language to update the translations for upcomming update on my side! (PN532 support!):
**German**

- with AmiiBombuino
- with Powersaves
- Flash AmiiBombuino...
- with Internal Flasher
- with XLoader
- Search
- Appdata editor
- The cache files have been deleted!
- Amiibo File UID is Spoofed!
- No AppData Editor available :(!
- AmiiBombuino

[2017-09-19 14:46] h3llb3nt opened #19 "add other arduino board variants"
i'm using an adafruit metro mini for my arduino. i was able to grab the source arduino ide files you built and flash it myself but it would be simpler if the xloader or amiibombuino flasher had options for more board variants. my guess is that most will use all the same types but the labels can get people all confused, like i was.

[2017-09-20 18:36] kokkie20 commented on #19
I hope you do know there are way to many arduino's to compile for all of them right?
It is hard to to keep everyone satisfied, cause everyone can use a different arduino and i am not even sure if all of them can support the rfid reader (Needed pins to connect the rfid reader to. Not sure, i only own 3 kind of arduino's tough)

[2017-09-20 18:38] h3llb3nt commented on #19
yes i'm aware there are many many variants. just a suggestion. perhaps at the very least a roadmap for people to follow on what to do if their board variant doesn't work. breadcrumbs.

[2017-09-20 19:07] peacepenguin commented on #19
Personally, i feel it is better to REQUIRE the use of the arduino IDE to flash firmware. Helps with getting your feet wet with the arduino eco-system, which is already VERY friendly for non-technical people.

But, if the community wants the feature, perhaps ithe hex files could be auto-compiled when building the solution in visual studio? Currently the solution only builds the windows exe. Anyone

[2017-09-20 19:11] kokkie20 commented on #19
i had tried a add-on in visual studio so it would be easier to debug the arduino, but all i can say is it didnt work as it should 👎 (Was using "Visual Micro"
As far as i know its not possible within VS without a plugin/tool for it

[2017-09-20 23:08] peacepenguin commented on #19
Yea i tried visual micro too without success, glad to hear it wasn't just me. It had nag screens as well... perhaps we can just call the arduino IDE build from the command line, as part of the visual studio solution  build process.

I'll look into arduino IDE automation, then if that works, how to tie the automation to the overall build process within visual studio.

[2017-10-07 20:05] peacepenguin commented on #8
@kokkie20 can you post a link to your code for your pn532 - amiibomb progress? I have my dev environment setup to mess with this stuff again! Maybe make a github repo for it so we can test it and eventually make a pull request into the main repo?

I have many NFC tags and there are some that absolutely are not able to be read by the MFRC522. In all cases though the PN532 is able to read any tag I'

[2017-10-07 20:51] kokkie20 commented on #8
@peacepenguin
Currently not at home, am for work outside my home... (For about a week from now, driving international truck atm)
Will see what i can do with a github when i am home and have some spare time left.
Most of the stuff is working so far, still need to clean up some code to make it more understandable then it is now atm.
You also need to upload new firmware to your arduino to make it wor

[2017-10-21 20:04] lukehawker opened #20 "Bins not showing in amiibomb"
cannot import bin files to write and no files are showing within the app

[2017-11-20 12:37] trideetztz commented on #8
@peacepenguin @kokkie20 any updates? :)

[2017-11-20 12:39] kokkie20 commented on #8
I have sended all my code to peace so he/she can work further on it.
I don't have the time for it at the moment due to stress weeks at work (working now about 70+ hours a week)

[2017-12-10 02:09] wachpwnski commented on #7
I'm still getting this issue on a new Windows 10 install. It's not actually saving a file, but I see it in my recent files.

In addition I created the key with HxD, and it's saying that it's an incorrect key.

[2017-12-15 16:47] bendodson commented on #20
I'm seeing the same issue. The app detects key in my clipboard and prompts to save it but no bin file is actually saved.

[2017-12-17 00:16] angelxwind12 commented on #20
Same here :{

[2017-12-17 11:56] bendodson commented on #20
I'm guessing, based on the timing, that this is an issue with the Windows 10 Fall Creators Update. I've seen this same 0.3 build work on a Windows 10 machine earlier in the year so I can only think that is the change that has broken it...

[2017-12-24 10:04] DragRedSim commented on #20
Also getting a blank grey box here - no list of .bins.

https://i.imgur.com/4EJOqfr.png

Works when I launch it as an administrator, though.

[2018-01-19 12:16] miguejinn commented on #16
It's possible to send command directly through Arduino serial monitor? that could be a solution for GNU/Linux and MacOS users.

[2018-01-24 07:49] NecroXenon opened #21 "STK500V2 wrapper corrupted (No Start Message detected!)!"
While trying to flash using the internal Amiibombuino Flasher, I tried flashing my Arduino Mega 2560 but it keeps coming up with the error: STK500V2 wrapper corrupted (No Start Message detected!)!
If anyone knows of a fix for this problem I would greatly appreciate it

[2018-01-29 17:30] tkgstrator commented on #18
Although Japanese is not listed in above, may I help to translate to it?

[2018-02-14 03:29] christophediericx opened #22 "MIT License violation - attribution required"
Hi there,

It seems you have directly incorporated (most of the source files of) an earlier version of my library (https://github.com/christophediericx/ArduinoSketchUploader) in your software.

That is definitely no issue at all (it is open source software meant to be used with a very liberal license) but please note that proper **attribution** (and the inclusion of a license file) is still requir

[2018-02-14 03:37] christophediericx commented on #21
The "internal Amiibombuino Flasher" is actually an older copy of some of the files of my library over here (https://github.com/christophediericx/ArduinoSketchUploader). These files files were directly included in this project without proper attribution (as required per the MIT license).

This older version very likely has _multiple_ issues with ATMega2560 that have since then been resolved in the

[2018-02-14 03:37] AcK77 commented on #22
Commit ce4bea6fee9a16dcea0ce07e1f78a110be456f8e is good for you?

[2018-02-14 16:44] christophediericx commented on #22
Sure, that works, thanks!

[2018-02-14 16:44] #22 closed

[2018-02-24 23:48] cswike commented on #20
Same issue here, detects the keys from my clipboard and offers to save them but no bin file is actually created. What's weird is the bin file shows up in Recent Files but it's not actually saved where it says it is and can't be opened.

Tried running as an administrator and didn't notice any change.

[2018-02-28 02:41] twlum opened #23 "How do you run the program?"
I don't see an .exe file in any of the folders, what am I missing?

[2018-02-28 02:52] cswike commented on #23
Are you downloading one of the releases?

https://github.com/AcK77/AmiiBomb-uino/releases

[2018-02-28 03:19] twlum commented on #23
I guess I wasn't, thanks!

[2018-02-28 03:35] #23 closed

[2018-02-28 03:45] AcK77 commented on #20
There is two issues right here:

1. Save keys from clipboard seems doesn't works well... Need to investigate when I'll have time. You can search the keys with the function in AmiiBomb on internet. When you get them, there is many online website who can convert "Hex to binary file" (First result on google is great, tomeko.net/etc...).
2. If you have no keys loaded in the program, any *.bin files ap

[2018-02-28 03:46] AcK77 commented on #21
Like the creator of the library said, I have to update the code inside AmiiBomb.
But you can use an external falsher with the .hex files provided as a temporary solution.

[2018-02-28 03:49] AcK77 commented on #19
I thinks it's better to use Arduino IDE for not very popular board. I can't support all of them with the internal flasher and provide a compiled firmware for all of the boards. Sorry.

[2018-02-28 03:49] #19 closed

[2018-04-17 23:47] Rippedbubba opened #24 "Problem when clicking on Amiibo .bin file name"
Hello,

First thanks for all your work on this.

When I click on the Amiibo name in the list I have below error message:

I have also included the details in txt file.

I'm stuck and i need help :(

Thanks !

![image](https://user-images.githubusercontent.com/38479503/38904311-eb5306d0-42a9-11e8-9ce1-af6013ffe15b.png)
[detail.txt](https://github.com/AcK77/AmiiBomb-uino/files/1921964/detail.txt)

[2018-05-07 14:29] dan3008 opened #25 "PN532 support"
any progress on PN532 support? if not, any advice on where to start with adding support?
I've got a PN532 shield, and some arduino experience and Im willing to experiment, but im a bit overwhelmed with this.

thanks
dan

[2018-05-20 19:17] hennessyaedan opened #26 "Amiibo Files"
I downloaded amiibomb to make amiibos for a low cost instead of spending 21.99 per amiibo at the store or on amazon. The program doesn't save my keys and at the same time there is no panel on the left of the screen with a list of my .bin files it seems like the program might be having some trouble with recognizing the files in the first place please I've tried everything from launching as administ

[2018-07-26 21:09] hennessyaedan commented on #20
Having the same problem too, no list of .bin files is showing up in the programs

[2018-09-06 23:26] #26 closed

[2018-09-06 23:31] hennessyaedan opened #27 "Unhandled exception has occurred in your application"
When I click create NTAG this pops up:

Unhandled exception has occurred in your application. If you click Continue, the application will close immediately.

InvalidArgument=Value of '0' is not valid for 'index'.
Parameter name: index.

There is then Details:

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text

[2018-09-07 15:34] nateevans opened #28 "Cache and Lang Errors after fresh Build"
After a fresh build with VS Community 2017, getting these errors on run.
I'm definitely a noob with building VS projects, so any help would be appreciated!!

![image](https://user-images.githubusercontent.com/1561006/45228560-7f448880-b291-11e8-8d0b-8301a8ffd4df.png)

![image](https://user-images.githubusercontent.com/1561006/45228613-9e431a80-b291-11e8-81c0-37237073cbde.png)

[code]

[2018-09-07 23:17] hennessyaedan commented on #28
I'm having the same problem except my cache folder isn't missing

https://github.com/AcK77/AmiiBomb-uino/issues/27

[2018-09-27 18:25] netzpixel commented on #8
Any Updates? I just put together my amiibomb and get that same error.

EDIT: I also have some UIDs for you. Read with the program "GoToTags".
5BCE55D3
86A0B81F
BACAFD0C

The first two also just stoped working with amiibomb. I dont get the error anymore but it does not do anything instead. It's just like the tags are dead. But on my normal nfc reader they work just fine.

[2018-10-15 16:19] netzpixel commented on #8
I ordered more Tags, now with the longer UID but the amiibomb doesnt read them at all. my normal nfc reader detects them right away, so they work, but the amiibomb doesnt react at all. I have these sticker tags. Can someone help? I have 10 and not one works.

[2018-10-15 21:09] urherenow commented on #8
Seriously, just use thenaya on the 3DS. Works perfectly without hassle, and this repository hasn't even been touched in like 8 months. (and that was just a license thing. It's been a YEAR since any actual code was committed).